odoo14-addon-ssi-stock-location-m2o-configurator-mixin
odoo14-addon-ssi-stock-route-m2o-configurator-mixin
odoo14-addon-ssi-stock-warehouse-m2o-configurator-mixin
odoo14-addon-ssi-stock-rent-operation
odoo-yaml-test
